<template>
    
    <div class="w-full">
        <div class="wrapper mb-4">
            <label for="Title" class="block">Title</label>
            <input
                id="title"
                v-model="posts.title"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Title"
                required
            />
        </div>
        <div class="wrapper mb-4">
            <label for="Content" class="block">Content</label>
            <input
                id="content"
                v-model="posts.content"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Content"
            />
        </div>
        <button
            @click="submitForm"
            type="submit"
            class="rounded bg-green-500 mr-auto block hover:bg-green-600 px-4 py-2 text-white"
        >
            Save Posts
        </button><br>
    </div>
</template>

<script>
import { reactive } from "vue";
import axios from "axios";
export default {
    setup() {
        const posts = reactive({
            title: "",
            content: "",
        });

        return { posts };
    },
    methods: {
        submitForm() {
            axios
                .post("http://127.0.0.1:8000/api/posts", this.posts)
                .then((res) => {
                    this.$emit("on-success");
                    this.posts.title = "";
                    this.posts.content = "";
                })
                .catch((err) => {
                    console.log(err.message);
                });
        },
    },
};
</script>