<template>
    <h1 class="text-5xl text-green-500" align = "center" ><b>Form Posts</b></h1><br>
    <Form @on-success="getPosts" />
    <table class="w-full">
        <thead>
            <tr>
                <td>No</td>
                <td>Title</td>
                <td>Content</td>
                <td class="w-10">Action</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data, i) in posts" :key="data.id">
                <td>{{ ++i }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.content }}</td>
                <td>

                    <button
                        class="bg-red-600 hover:bg-red-700 text-white rounded px-2 text-sm focus:outline-none"
                        @click="deletePosts(data.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import Form from "./Form.vue";
import axios from "axios";
import { ref } from "vue";
export default {
    setup() {
        const posts = ref([]);

        const getPosts = () => {
            axios.get("http://127.0.0.1:8000/api/posts").then((response) => {
                if (response.status == 200) {
                    posts.value = response.data.data;
                }
            });
        };

        getPosts();

       

        const deletePosts = (id) => {
            axios
                .delete(`http://127.0.0.1:8000/api/posts/${id}`)
                .then((response) => {
                    if (response.status == 200) {
                        getPosts();
                    }
                })
                .catch((err) => {
                    console.log(err.message);
                });
        };

        return {
            posts,
            getPosts,
            deletePosts,
        };
    },

    components: {
        Form,
    },
};
</script>